
.contact-details-edit {
  padding: 20px;
  background: #fff;
}

.contact-details-edit-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .name .mdl-textfield, .phone .mdl-textfield {
    width: 49%;
    float: left;
  }
  .name .mdl-textfield:last-child, .phone .mdl-textfield:last-child {
    float: right;
  }
  .formLabel {
    text-align: left;
    margin: 10px 0px 0px 0px;
    font-weight: 400;
    color: #99a6b9;
    font-size: 14px;
    i {
      font-size: 18px;
      margin: 2px 3px 0 -4px;
      float: left;
      color: #7493b1;
    }
  }
  .mdl-textfield {
    width: 100%;
  }
  .mdl-textfield__label {
    font-size: 14px;
    color: #666666;
    font-weight: 300;
  }
  .mdl-checkbox__label {
    font-size: 14px;
    color: #99a6b9;
  }
  .mdl-menu, .mdl-menu__container {
    width: 100% !important;
  }
  .mdl-menu__item {
    text-align: center;
  }
  button.update-btn {
    width: 100%;
    background: #3c6892 !important;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    font-weight: 600;
    border-radius: 0 !important;
  }
}
/*deal right content css start*/

.upload-img {
  text-align: center;
}

.upload-success {
  text-align: center;
  margin: 20px 0;
  span {
    font-size: 14px;
    color: #57b93b;
    font-weight: 500;
  }
}

.upload-suc-images {
  span {
    position: relative;
    width: 32%;
    display: inline-block;
    margin: 10px 0;
    i {
      position: absolute;
      z-index: 99;
      right: -5px;
      top: -10px;
      color: red;
      background: white;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  margin-top: 15px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
  label.accordian-label {
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 15px;
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: none !important;
    &:hover {
      background: #fff;
    }
  }
  input.accordian-input:checked + label.accordian-label {
    background: none;
    color: #013a71;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 18px;
    &:hover {
      background: none;
      color: #013a71;
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
      box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
      border: none;
      font-size: 18px;
    }
  }
  label.accordian-label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../business/images/arrow_down.png) no-repeat center center;
  }
  input.accordian-input {
    &:checked + label.accordian-label:hover:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      right: 13px;
      top: 7px;
      background: transparent url(../business/images/arrow_down.png) no-repeat center center;
      background-image: url(../business/images/arrow_up.png);
    }
    display: none;
  }
  article {
    background: #fff;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    p {
      font-style: italic;
      color: #777;
      line-height: 23px;
      font-size: 14px;
      padding: 20px;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    }
  }
  input.accordian-input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    /*  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
    &.ac-small {
      height: auto;
    }
  }
}