.mdl-layout__content {
	width: 100%;
	background: #ffffff;
	.page-content {
		.howItWorks {
			.pageH1 {
				font-size: 28px;
			    color: #0081cb;
			    font-weight: 700;
			    margin: 20px 0 10px 0;
			    line-height: 22px;
			    text-align: center;
			}
			.simple-steps-business {
				.step1, .step3 {
					background: #2090d2;
				    clear: both;
				    border-radius: 4px;
				    margin-bottom: 20px;
				    min-height: 420px !important;
				}
				.step2, .step4 {
				    background: #55b95d;
				    clear: both;
				    border-radius: 4px;
				    margin-bottom: 20px;
				    min-height: 420px !important;
				}
				.bb-workimg1 {
					    padding-top: 40px;
					}
				h2 {
				    font-family: "Open Sans";
				    font-weight: 600;
				    font-size: 22px;
				    text-transform: uppercase;
				    color: #FFFFFF;
				    text-align: center;
				    padding-top: 25px;
				    margin: 0px;
				    .title-border {
					    border-top: 2px solid #fff;
					    border-bottom: 2px solid #fff;
					    padding: 0 15px 0 15px;
					}
				}
				.img-bg {
					background: url(../business/images/bb-worksimgbg1.png) center no-repeat;
				    min-height: 172px;
				    margin-bottom: 20px;
				    background-size: 100% 100%;
				}
				p {
					color: #FFFFFF;
				    padding-top: 0px;
				    text-align: center;
				    font-size: 14px;
				    margin: 0 20px;
				}
			}
			.checkout-deals {
			margin-bottom: 20px;
			}
		}
	}
}