
.right-content-area {
  background: #ebf2f6;
  .mdl-layout__header {
    background: none;
    padding: 0;
    box-shadow: none;
    min-height: 35px;
  }
  .mdl-layout__container {
    position: relative;
  }
  .mdl-layout__tab-bar-container {
    height: 35px;
    overflow: visible;
  }
  .mdl-layout__tab-bar-left-button, .mdl-layout__tab-bar-right-button {
    display: none;
  }
  .mdl-layout__tab-bar {
    background: #999;
    padding: 0;
    overflow: visible;
    height: 35px;
    width: 100%;
  }
  .mdl-layout__tab {
    height: 35px;
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    border-right: 1px solid #777777;
    &:last-child {
      border: none;
    }
  }
  .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: rgb(255, 255, 255);
    background: #56b93b;
    overflow: visible;
    &::after {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #56b93b;
      animation: inherit;
      transition: inherit;
      bottom: -8px;
      background: none;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.contact-details-edit-form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }

.bankdetails-select {
  float: left;
  width: auto;
}
