/* Footer Area Styles Started Here */
.gmsFooterArea {
    text-align: center;
    font-size: 12px;
    background: #464646;
    padding: 10px 0px;
    color: #ffffff;
}
/* Footer Area Styles Ends Here */