
.footer {
    background: #111111;
    margin-top: -5px;
    .mdl-mega-footer {
        background: #111111;
        padding: 0px;
        .mdl-mega-footer__top-section {
            border-bottom: 1px solid #000;
            padding: 10px 10px 0 10px;
            .mdl-mega-footer__left-section, .mdl-mega-footer__middle-section {
                float: left;
                width: 33%;
                margin: 0px;
                .apps {
                    .appStore {
                        float: left;
                        margin-right: 10px;
                        img {
                            width: 85px;
                        }
                    }
                }
            }
            .mdl-mega-footer__right-section {
                a {
                    margin-bottom: 0;
                }
            }
        }
        .mdl-mega-footer__middle-section {
            padding: 0 20px;
            .mdl-mega-footer__drop-down-section {
                width: 16%;
            }
        }
        .mdl-mega-footer__bottom-section {
            padding-top: 0px;
            margin-bottom: 0px;
            .mdl-logo {
                width: 100%;
                text-align: center;
                background: #080808;
                padding: 10px 0;
            }
        }
    }
}